{% load static%}
<!-- <nav class="navbar fixed-bottom py-4 w-100" style="background-color: aquamarine; position: fixed;">
        <p1 style="font-weight: bold; color: rgb(79, 140, 187); font-size: small; margin: auto;">&copy;Awards
                2020</p1>
</nav> -->

<div class=" rounded" style=" box-shadow: 5px 5px 19px #6bb6b2e0;">
<nav class="py-4 mt-5 text-center" style="background-color: rgb(187, 227, 255);">

                        <span style="color: #0483F2; font-size: small; font-weight: bold;">Copyright &copy; ProjectReview</span>

</nav>
</div>